* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 72.5%;
    font-family: sans-serif;
}

.hide {
    display: none;
}
.container {
    width: 110rem;
    border: 1px solid #dae7db;
    margin: 6.4rem auto;
    padding: 3rem;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    margin: 15px auto;
    padding: 20px;
}

.login h1 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #47894b;
}

.login p {
    color: #e03131;
    font-size: 1.4rem;
    font-weight: 700;
}
.login form {
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: unset;
    
}

.login form label {
    font-size: 1.4rem;
    font-weight: 700;
    color: #47894b;
    padding: 5px 0;
}

.login form input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
}

.login form button {
    margin: 15px auto;
}
.main_nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4.7rem;
    background-color: #47894b;

}

.main_title {
    width: 40%;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    color: white;
}

.nav_bar_grid_row {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(4, 1fr)
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: 700;
    display: flex;
}

a span {
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

a img {
    width: 30px;
    height: 30px;
}

.logout p {
   font-size: 1.4rem;
   color: #e03131;
   margin-left:88%;
   margin-top: 15px;
   font-weight: 700;
   cursor: pointer;
}
.second_nav_bar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 11rem);
    margin-top: 30px;
}

button {
    height: 3rem;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0.3rem;
    background-color: unset;
    border: 1px solid #dae7db;
    border-radius: 5%;
    color: #333;
}

.active_page {
    opacity: 0.4;
}

.button_active {
    background-color: #47894b;
    color: white;
}

/*contact*/

.contact_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    margin-top: 2rem;
}
.general_contact_details {
    border: 1px solid #47894b;
    border-radius: 0.4rem;
    display: grid;
    row-gap: 1rem;
}

.general_contact_details_title {
    background-color:#47894b;
    color: white;
    padding: 15px;
}

.general_contact_details_info {
    display: grid;
    row-gap: 1rem;
    margin-left: 1.5rem;
}

.general_contact_details_info p {
    font-size: 16px;
    color: #333;
    line-height: 2rem;
}

.general_contact_details_info:last-child{
    padding-bottom: 5rem;
}

/*carousel*/
.slick-slide {
   position: relative;
   width: 100%;
   height: 45rem;
   margin-top: 30px;
}
  .slide-content {
    width: 100%;
    height: 40rem;
    -webkit-box-shadow: -7px -5px 51px -15px rgba(218,231,219,1);
    -moz-box-shadow: -7px -5px 51px -15px rgba(218,231,219,1);
    box-shadow: -7px -5px 51px -15px rgba(218,231,219,1);
  }

  .slide-content div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .slide-content div h3 {
    font-size: 4rem;
    color: #47894b;
    font-weight: 500;
  }

  .slide-content div p {
    font-size: 1.5rem;
    color:  #47894b;
    opacity: 0.6;
    font-weight: 400;
    padding-top: 15px;
  }
  .slide-content div button {
    width: 120px;
    height: 40px;
    padding: 10px;
    border: 1px solid #dae7db;
    background-color: unset;
    margin-top: 15px;
    color: #47894b;
  }
  .slick-prev,
  .slick-next {
    color: #dae7db;
    border: unset;
    font-size: 3rem;
    font-weight: 700;
    position: absolute;
    left: 0;
    bottom: 55%;
    z-index: 1;
  }

  .slick-next {
    left: 98%;
  }

  .slick-dots {
    list-style: none;
    margin: 0 auto;
    text-align: center;
  }

  .slick-dots li {
    display: inline-block;
  }

  .slick-dots li button {
    transition: 0.2s background-color ease-in-out 0s;
        border: none;
        padding: 0;
        color: transparent;
        width: 10px;
        height: 10px;
        background-color: #dae7db;
        margin-right: 10px;
        border-radius: 50%;
  }

  .slick-dots li button:hover {
    background-color: #47894b
  }

  .slick-dots li.slick-active button {
     background-color: #47894b;
  }
div.slick-track::before{
    display: block;
}

.about_section {
    width: 100%;
}

/* account table*/
table {
    width:  100%;
    border-collapse: collapse;
    border: 1px solid #dae7db;
    margin-top: 20px;
}
tr {
    height: 50px;
    border-bottom: 2px solid #dae7db;
    font-size: 2.2rem;
    font-weight: 700;
    color: #47894b;
}
td {
    height: 30px;
    font-size: 1.5rem;
    font-weight: 400;
    text-align: center;
    border-bottom: 1px solid #dae7db;
    padding: 10px;
    color: #333;
}
tr:hover {
    opacity: 0.6;
    cursor: pointer;
}
caption {
    width: 100%;
    height: 50px;
    background-color: #dae7db;
    font-size: 2rem;
    color: #47894b;
    font-weight: 700;
    padding: 1.2rem;
    text-align: left;
}

.selected_row {
    background-color: #dae7db;
}
.error_message {
    width: 100%;
    height: 4rem;
    margin-top: 1.3rem;
}
.error_message p {
    font-size: 1.6rem;
    font-weight: 400;
    color: darkred;
}

/*form*/
form {
    border: 1px solid #dae7db;
    padding: 2rem;
    margin-top: 2rem;
}
form h2 {
    background-color: #dae7db;
    padding: 10px;
    color: #47894b;
    font-size: 2.4rem;
}
form h3 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #47894b;
    padding: 1.2rem 0;
}
.form_section,
.form_address_section_city {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin: 1rem 0;
}
.form_row {
    display: flex;
    flex-direction: column;
}
.form_row label {
    font-size: 1.6rem;
    font-weight: 700;
    padding: 0.5rem;
    color: #47894b;
}
.form_row input {
    height: 4rem;
    border: 1px solid #dae7db;
    border-radius: 1rem;
    padding-left: 1rem;
}
.form_address_section_city{
    grid-template-columns: repeat(2, 65% 32%);
}
.form_country {
    width: 65%;
}

form button {
    width: 120px;
    height: 40px;
    background-color: #47894b;
    border: unset;
    border-radius: 5px;
    color: white;
    margin-top: 15px;
}

form button:hover, 
form button:disabled {
    opacity: 0.4;
}

form .message,
form .cancel_message,
.transactions .message,
.transactions .error_message {
    width: 100%;
    height: 4rem;
    background-color: #47894b;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 10px;
    text-align: center;
    margin: 2rem 0;
    color: white;
}

form .cancel_message,
.transactions .error_message {
    background-color: lightyellow;
    color: #e03131;
}

.koErrorMessage {
    color: #e03131;
    font-size: 1.1rem;
    font-weight: 700;
}
input.koErrorField {
    border: 1px solid #e03131;
}

.transactions {
    width: 100%;
    height: 50rem;
}

.step {
    width: 80%;
    height: 30rem;
    border: 1px solid #dae7db;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.step select,
.step input {
    width: 30%;
    height: 3rem;
    border: 1px solid #dae7db;
    border-radius: 5px;
    margin: 10px;
    color: #47894b;
    font-size: 1.4rem;
    font-weight: 500;
}

.step label {
    color: #47894b;
    font-size: 1.6rem;
    font-weight: 700;
}

.step p {
    font-size: 1.4rem;
    padding: 10px;
}

.transactions_buttons {
    display: flex;
    width: 60%;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.transactions_buttons div {
    display: flex;
    width: 5%;
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.transactions_buttons div div {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #47894b;
}

.active {
    opacity: 0.4;
}

.transactions_buttons button {
    width: 80px;
    height: 40px;
    padding: 5px;
    background-color: #47894b;
    color: white;
    border-radius: 5px;
}

.transactions_buttons button:disabled {
    opacity: 0.6;
}